XML/11-4-2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="moviesType">
    <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Movie">
            <xs:complexType>
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Title" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Year" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="Movies" type="moviesType"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>